*{
	margin:0px;
	padding:0px;
}
h1{
	font:bold 20px Tahoma;
}
h2{
	font:bold 14px Tahoma;
}
header,section,footer,aside,nav,article,hgroup{
	display:block;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
	
}
#big_wrapper{
	max-width:1000px;
	margin-right:20px;
	margin-bottom:20px;
	margin-top:20px;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex:1;
}
#top_header{
	background:#F44336;
	padding:20px;
	color:white;
}
#top_menu{
	background:#FF5722;
	color:white; 
}
#top_menu li{
	display:inline-block;  
	list-style:none;
	padding:10px;
	font:bold 14px Tahoma;
}
#new_div{
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
#main_section{
	border:1px solid #FF5722;
	-webkit-box-flex:1;  
	margin:20px;
	padding:20px;
}
#side_bar{
	border:1px solid #FF5722;
	width:220px;
	margin:20px 0px;
	padding:30px;
}
#footer{
	text-align:center;
	padding:20px;
	border-top:2px solid #FF5722;
}





